{
"presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
],
"plugins": ["@babel/plugin-proposal-class-properties","css-modules-transform"],
"ignore":["**/*.test.js","**/*.map.css","**/*.py,","**/*.scss","**/*.sass"]
}