@import "../Main/vars";
.k-navbar {
    transition: all 0.4s ease-in-out;

    .k-navbar-brand {
        display: flex;
        align-items: center;
        height: 40px;
        font-weight: 300;
        transition: all 0.4s ease-in-out;
        &:hover {
            text-decoration: none;
        }
        &.extend {
            height: 70px;
        }
    }

    &.navbar-dark {
        .navbar-nav {
            .nav-link {
                color: $light;
            }
        }

        .navbar-toggler-icon {
            background-image: none;
            color: $light;
        }
    }

    &.navbar-light {
        .navbar-nav {
            .nav-link {
                color: $dark;
            }
        }

        .navbar-toggler-icon {
            background-image: none;
            color: $dark;
        }
    }

    .navbar-toggler {
        border: none;
        &:active {
            outline: none;
            border: none;
        }
        &:focus {
            outline: none;
            border: none;
        }
    }
    .dropdown-toggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: transparent;
            border: none;
            box-shadow: none;
        }
        &:active {
            background-color: transparent;
            outline: none;
            border: none;
            box-shadow: none;
            box-shadow: none;
        }
        &:focus {
            background-color: transparent;
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
    .dropdown-menu {
        text-align: center;
        min-width: 7rem;
        border-radius: 5px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
        .dropdown-item {
            &:hover {
                background-color: transparent;
            }
            &:active {
                background-color: transparent;
            }
            &:focus {
                background-color: transparent;
                outline: none;
            }
        }
    }
}
