@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

$primary: #197ae1;
$secondary: #6c757d;
$background: #232323;
$light: #e1e1e1;
$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;
$disabled: #d9d9d9;
$info: #17a2b8;
$dark: #232323;

$font: "Rubik";

$body-bg: $dark;
$body-color: $white;

$link-color: $primary;
$link-hover-color: rgba($primary, 0.6);
$link-hover-decoration: none;

$enable-responsive-font-sizes: true;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "success": $success,
    "warning": $warning,
    "info": $info,
);
