@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@import "./../../node_modules/bootstrap/scss/functions";
@import "./../../node_modules/bootstrap/scss/variables";
@import "./../../node_modules/bootstrap/scss/mixins";
//font
$font: "Quicksand";
$enable-responsive-font-sizes: true;

//color
$primary: teal;
$secondary: $gray-600;

$light: #f2f2f2;
$dark: #232323;

$success: #00f004;
$warning: #fa9d19;
$danger: #e0061c;
$info: #fae700;

$disabled: #d9d9d9;

$light-theme: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "theme-bg": $white,
  "theme-color": $dark,
  "table-head": #9aa0ac,
  "table-borders": rgba(0, 40, 100, 0.12),
  "card-bg": $light,
  "card-color": $dark,
  "card-borders": rgba(0, 40, 100, 0.12),
);

$dark-theme: (
  "primary-dark": $primary,
  "secondary-dark": $secondary,
  "danger-dark": $danger,
  "success-dark": $success,
  "warning-dark": $warning,
  "info-dark": $info,
  "theme-bg-dark": $dark,
  "theme-color-dark": $white,
  "table-head-dark": #acb0ba,
  "table-borders-dark": rgba(174, 181, 194, 0.12),
  "card-bg-dark": #444444,
  "card-color-dark": $white,
  "card-borders-dark": rgba(174, 181, 194, 0.12),
);

$theme-colors: map-merge($theme-colors, map-merge($light-theme, $dark-theme));
